<h1> Welcome, <%=current_user.username %></h1>

<h3> Here is a list of preschools all users have added </h3> 
	<% @preschools.all.each do |preschool| %>
	<ul>
		<li id="preschool_name"><%= preschool.name %></li>
		<li><%= preschool.address %></li>
		<li><%= preschool.cost %></li>
		<li><%= preschool.summary %></li>	
	</ul>
		<br>

<% end %>