<ul>
	<li id="preschool_name"><label>Preschool: </label><%= @preschool.name %> </li>
	<li><label id="label">Address: </label><%= @preschool.address %> </li>
	<li><label id="label">Cost: </label><%= @preschool.cost %> </li>
	<li><label id="label">Summary: </label><%= @preschool.summary %> </li>

</ul>
  
  <form action="/preschools/<%= @preschool.id %>/delete" method="POST">
  	<input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Preschool">
  </form>
  

<a href="/preschools/<%=@preschool.id%>/edit"> <input type="submit" value="Edit Preschool"></a>
<a href="/users/<%=current_user.slug%>"> <input type="submit" value="View Your Preschool List"></a>
